@model StudentEnrollment.Models.Classes
@using StudentEnrollment.Models


<form method="post" asp-action="Create">
    <div>
        <label asp-for="Teacher">Teacher </label>
        <input asp-for="Teacher" />
    </div>
    <br />
    <div>
        <label asp-for="Subject">Subject </label>
        <select asp-for="Subject" asp-items="Html.GetEnumSelectList<Subject>()"></select>
    </div>
    <div>

        <button type="submit">Create Class</button>

    </div>

</form>
