@using StudentEnrollment.Models
@model StudentEnrollment.Models.Classes

<h2>@Model.Subject</h2>
<h3>@Model.Teacher</h3>



<form method="post" asp-action="Update">
    <div>
        <label asp-for="Teacher">Teacher </label>
        <input asp-for="Teacher"  value="@Model.Teacher"/>
    </div>
    <div>
        <label asp-for="Subject">Subject </label>
        <select asp-for="Subject" asp-items="Html.GetEnumSelectList<Subject>()"></select>

    </div>
    <div>
        <input type="submit" value="Update" />
    </div>

</form>